

/* Utility, layout and display */
.display-none {
  display: none;
}

.wide {
  grid-column: 2 / span 3;
}

.narrow {
  grid-column: 3 / span 1;
}

/* Utiliy, typography */
.textcolor-black {
  color: var(--c-black);
}

.textcolor-white {
  color: var(--c-white);
}

.underline {
  text-decoration: underline;
}

/* Utility, bg colors */
.bg-none {
  background-color: none;
}

.bg-black {
  background-color: var(--c-black);
}

.bg-lightgray {
  background-color: var(--c-lightgray);
}