/* Setup */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600,600i&display=swap");

:root {
	--c-black: #333;
	--c-darkgray: #828282;
	--c-lightgray: #f2f2f2;
	--c-white: #fff;
	--c-primary: #219653;
	--c-secondary: #9b51e0;
	--fs-large: 1.5rem;
	--fs-normal: 1rem;
}

* {
	font-family: "IBM Plex Mono", monospace;
}

body {
	font-family: "IBM Plex Mono", monospace;
	text-align: center;
	padding-top: 10vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 1.5rem;
}

h1,
h2,
h3 {
	text-align: center;
}
